<div class="row" id="form-div">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <br class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="userName" class="form-label">Username</label>
            <input type="text" name="userName" class="form-control" formControlName="userName">
            <span class="error-block" *ngIf="!userName?.valid && userName?.touched">Please enter a valid name.</span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
        </div>

        <div class="form-group col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <span class="error-block" *ngIf="registrationForm.get('password') != registrationForm.get('confirmPassword') && registrationForm.get('confirmPassword')?.touched">
          Passwords must match.</span> 
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
        </form>
    </div>
  </div>
  </div>